*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header {
    background-image: url("wildlife.png");
    height: 100vh;
    background-image: cover;
    background-position: center;
  }

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid white;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: red;
    color: white;
}

video{
    margin-left: 25px;
    margin-top: 55px;
    height: auto;
    width: 50vh;
}

p{
    height: auto;
    width: 100vh;
    color: rgb(53, 158, 27);
    font-size: xx-large;
}

p1{
    height: auto;
    width: 100vh;
    color: white;
    font-size: 200%;
}

p2{
    height: auto;
    width: 100vh;
    color: white;
    font-size: 200%;
}

p3{
    height: auto;
    width: 100vh;
    color: white;
    font-size: 200%;
}

p4{
    height: auto;
    width: 100vh;
    color: white;
    font-size: 200%;
}

